
.main-body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(170deg, #FF8040,#F5F1DC);
    padding: 10px ;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: #050404;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.todo-logo{
    max-width: 40px;
    margin-left: 10px;
}

.taskform{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.taskform button{
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 6px 18px ;
    background:  #FF8040 ;
}
.listUn{
    margin-top: 20px;
}
.listUn li{
    padding: 2.5px;
    /* border: 1px solid #0000001f; */
    margin-top: 10px;
    list-style: none;
    padding-left: 35px;
    /* background: #0504040c; */
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
    position: relative;
    
}
.listUn li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("/static/image/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.listUn li.checked{
    color: #050404;
    text-decoration: line-through;
}
.listUn li.checked::before{
    color: #050404;
    text-decoration: line-through;
    background-image: url("/static/image/check.png");
}