{% extends 'base.html' %} 
{% block title %}Saved{% endblock %}
{% block body_block %}
<div class="main-body">
    <div class="todo-app">
        <div class="container">
            <h2>To-Do List Features</h2>
    <ul class="list-group">
      <li class="list-group-item">Add new tasks instantly</li>
      <li class="list-group-item"> Add new tasks instantly</li>
      <li class="list-group-item"> Mark tasks as complete or incomplete</li>
      <li class="list-group-item"> Delete tasks easily</li>
      <li class="list-group-item"> All data stored in the database</li>
      <li class="list-group-item"> Responsive and minimal UI design</li>
      <li class="list-group-item"> Gradient background and clean theme</li>

    </ul>
        </div>
    </div>
</div>
{% endblock %}
